DEBUG=0

ORIGIN="http://localhost"
HOST=0.0.0.0
PORT=80

BATTERY_ENABLED=0
BATTERY_CACHE_TIME=60
BATTERY_BUS_NUMBER=0x01
BATTERY_I2C_ADDRESS=0x14
BATTERY_RECORDING_INTERVAL=0

CALENDAR_ENABLED=1
CALENDAR_CACHE_TIME=3600
CALENDAR_PROJECT_ID=
CALENDAR_GOOGLE_CALENDAR_ID=
CALENDAR_GOOGLE_PRIVATE_KEY=
CALENDAR_GOOGLE_SERVICE_EMAIL=

GAMES_ENABLED=1
GAMES_CACHE_TIME=3600

MODEM_ENABLED=0
MODEM_CACHE_TIME=60
MODEM_DEVICE_PATH="/dev/ttyUSB2"
MODEM_BASE_LAT=47.000
MODEM_BASE_LNG=8.000

NEWS_ENABLED=1
NEWS_CACHE_TIME=3600

POST_ENABLED=1
POST_CACHE_TIME=3600
POST_USERNAME=
POST_PASSWORD=

SENSOR_ENABLED=1
SENSOR_DEVICE_PATH="/dev/gpiomem"
SENSOR_DHT_TYPE=22
SENSOR_DHT_PIN=17
SENSOR_RECORDING_INTERVAL=0

SBB_ENABLED=1
SBB_CACHE_TIME=3600
SBB_API_KEY=
SBB_KEYWORDS=ZH,Zürich,Zurich

UPLOADS_ENABLED=1

WEATHER_ENABLED=1
WEATHER_CACHE_TIME=3600
WEATHER_LAT=47.000
WEATHER_LNG=8.000
WEATHER_API_KEY=
