ORIGIN="http://localhost"
HOST=0.0.0.0
PORT=5173

BATTERY_ENABLED=1
CALENDAR_ENABLED=1
CAROUSEL_ENABLED=1
DHT_SENSOR_ENABLED=1
EPIC_GAMES_ENABLED=1
GALLERY_ENABLED=1
MODEM_ENABLED=1
NETWORK_ENABLED=1
PRUSA_ENABLED=1
SBB_ALERTS_ENABLED=1
SBB_DEPARTURES_ENABLED=1
SRF_ENABLED=1
SWISS_POST_ENABLED=1
TUYA_ENABLED=1
WEATHER_ENABLED=1
