#SERVER_ENABLED=1
#SERVER_UPLOAD_ENABLED=1
#SERVER_PORT=2000

#BATTERY_ENABLED=1
#BATTERY_UPDATE_INTERVAL=60

#MODEM_ENABLED=1
#MODEM_UPDATE_INTERVAL=300

#SENSOR_ENABLED=1
#SENSOR_DHT_TYPE=22
#SENSOR_UPDATE_INTERVAL=60
#SENSOR_RECORDING_INTERVAL=60

#NEWS_ENABLED=1
#NEWS_UPDATE_INTERVAL=3600

#WEATHER_ENABLED=1
#WEATHER_UPDATE_INTERVAL=3600
#WEATHER_LAT=
#WEATHER_LNG=
