PORT=2000

#DISABLE_SERVER=1
#DISABLE_UPLOAD=1
#DISABLE_BATTERY=1
#DISABLE_MODEM=1
#DISABLE_SENSOR=1
#DISABLE_WEATHER=1
#DISABLE_WEATHER_TIMER=1
#RECORDING_INTERVAL=60
#DHT_22=
#WEATHER_LAT=
#WEATHER_LNG=
