#SERVER_DISABLED=1
#SERVER_UPLOAD_DISABLED=1
#SERVER_PORT=2000

#BATTERY_DISABLED=1
#BATTERY_UPDATE_INTERVAL=60

#MODEM_DISABLED=1
#MODEM_UPDATE_INTERVAL=300

#SENSOR_DISABLED=1
#SENSOR_DHT_22=1
#SENSOR_UPDATE_INTERVAL=60
#SENSOR_RECORDING_INTERVAL=60

#NEWS_DISABLED=1
#NEWS_UPDATE_INTERVAL=3600

#WEATHER_DISABLED=1
#WEATHER_UPDATE_INTERVAL=3600
#WEATHER_LAT=
#WEATHER_LNG=
